html, 
body {
  height: 100%;
}

body {
  @extend %opensans-400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.03em;

  background-color: $white;
  color: $dark-500;

  display: flex;
  flex-direction: column;

  overflow-x: hidden;
}

.main {
  flex-grow: 1;
}

.hidden {
  display: none;
}

.unvisible {
  opacity: 0;
}

.overlay {
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 7;
  }
}

.container {
  max-width: 1320px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.input {
  border: none;
  border-radius: 6px 0 0 6px;
  margin: 0;
  outline: none;

  &:focus {
    box-shadow: 0px 0px 0px 3px $green-200;     
  }
}

.button {
  display: block;
  max-width: max-content;
  min-width: 100px;
  font-size: 18px;
  text-align: center;
  padding: 11px 23px;
  background-color: $green-800;
  color: $white;
  border: none;
  margin: 0;
  border-radius: 6px;
  letter-spacing: 0.03em;
  outline: none;
  transition: background-color 0.7s,
              box-shadow 0.7s,
              opacity 0.7s;

  &:hover {
    background-color: $green-700;
  }

  &:focus {
    box-shadow: 0px 0px 0px 4px $green-200;
  }

  &:active {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 0.5);
  }

  &--white {
    background-color: $white;
    margin: 0 auto;
    color: $green-800;
    text-align: center;
    border: 1px solid $green-800;

    &:hover {
      background-color: $green-100;
    }

    &:focus {
      box-shadow: 0px 0px 0px 4px rgba(99, 166, 14, 0.5);
    }

    &:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: rgba(99, 166, 14, 0.5);
    }
  }
}

.link {
  outline: none;
  transition: color 0.5s,
              opacity 0.5s;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    color: $green-200;
  }

  &:focus {
    background: rgba(255, 255, 255, 0.0001);
    box-shadow: 0px 0px 0px 3px $green-100;
    border-radius: 3px;
  }
}

.state-btn {
  outline: none;
  transition: color 0.5s,
              opacity 0.5s;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &:focus {
    box-shadow: 0px 0px 0px 3px $green-200;
  }
}
 
.section {
  padding: 72px 0;

  &--gray{
    background-color: $silver-100;
  } 
}

.title {
  @extend %ruda-600;
  letter-spacing: 0.03em;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  color: $dark-900;
}

.sr-only {
		position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.social {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;

  &__item {
    width: 32px;
    height: 32px;
    margin: 0 12px 12px 0;
  }

  &__link {
    width: 32px;
    height: 32px;
    position: relative;
    display: block;
    outline: none;
    transition: background-color 0.7s,
                color 0.7s,
                opacity 0.7s;

    &:focus {
      background-color: rgba(255, 255, 255, 0.0001);
      box-shadow: 0px 0px 0px 3px $green-200;
      border-radius: 3px;
    }

    &:hover {
      opacity: 0.5;
    }

    &:active {
      & svg {
        fill: $green-200;
      }
    }

  }
}


.logotype {
  display: flex;
  align-items: center;
  margin-right: 20px;

  &__link {
    outline: none;
     &:focus {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 3px;
      box-shadow: inset 0px 0px 0px 3px $green-100;
    }
  }

  &--home {
    .main-title {
      color: $green-800;
    }
  }
}

.logo {
  min-width: 55px;
  
  transition: background-color 0.5s, 
              opacity 0.5s;
              
  &:hover,
  &:focus, 
  &:active {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
  }

  &:focus {
    box-shadow: inset 0px 0px 0px 3px $green-100;
  }

  &:active {
    opacity: 0.5;
  }

  &--title {
    margin-right: 13px;
  }
}


.main-title {
  position: relative;

  max-width: 128px;

  @extend %ruda-600;
  text-align: center;
  text-transform: uppercase;

  font-size: 28px;
  line-height: 1.2;
  color: $white;
  margin-bottom: 19px;
  letter-spacing: 0;
}

.main-subtitle {
  position: absolute;
  left: 0;
  right: 0;
  top: 34px;

  font-size: 12px;
}

.close-window {
  position: absolute;
  right: 26px;
  top: 33px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-image: url(../images/icons/cross-cart.svg);
  background-size: cover;
}



@media (max-width: 1200px) {


  .title {
    font-size: 30px;
  }

  .section {
    padding: 61px 0;
  }
}

@media (max-width: 992px) {

  .title {
    font-size: 28px;
  }

  .section {
    padding: 51px 0;
  }
}

@media (max-width: 768px) {

  .title {
    font-size: 26px;
  }

  .section {
    padding: 41px 0;
  }
}

@media (max-width: 576px) {
  .button {
    padding: 11px 23px 11px 26px;
    transform: translate(3px, 0px);

    &--white {
      padding: 11px 23px;
      transform: translate(5px, -1px);
    }
  }

  .title {
    font-size: 24px;
  }

  .section {
    padding: 31px 0;
  }

  .overlay {
    overflow: visible;

  &::after {
    background-color: transparent;
    }
  }
}