html, 
body {
  height: 100%;
}

body {
  background-color: #FFFFFF;
  color: $accent-clr;
  font-size: 16px;
  line-height: 1.4;
  @extend %opensans-400;
  letter-spacing: 0.03em;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

a {
  color: #FFFFFF;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
}

.container {
  max-width: 1320px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.input {
  border: none;
  border-radius: 6px 0 0 6px;
  margin: 0;
}

.button {
  display: block;
  max-width: max-content;
  font-size: 18px;
  padding: 11px 23px;
  border: 1px solid $theme-clr;
  background-color: $theme-clr;
  color: #FFFFFF;
  border: none;
  margin: 0;
  border-radius: 6px;
  letter-spacing: 0.03em;
  outline: none;
  transition: background-color,
              box-shadow,
              opacity,
              0.7s;

  &:hover {
    background-color: #4D800C;
  }

  &:focus {
    box-shadow: 0px 0px 0px 4px #E0EDCF;
  }

  &:active {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 0.5);
  }
}
 
.section {
  background-color: $section-clr;
}

.title {
  @extend %ruda-600;
  letter-spacing: 0.03em;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  color: $title-clr;
}

.sr-only {
		position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.hr {
  width: 100%;
  height: 1px;
  background-color: #FFFFFF;
  opacity: 0.1;
}