$bg-clr: #31352B;
$accent-clr: #505050;
$title-clr: #121212;
$theme-clr: #63A60E;
$alarm-clr: #CF3E3B;

%opensans-300 {
  font-family: 'OpenSans-Light', sans-serif;
  font-weight: 300;
}

%opensans-400 {
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
}

%opensans-600 {
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-weight: 600;
}

%opensans-700 {
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: 700;
}

%ruda-400 {
  font-family: 'Ruda-Regular', sans-serif;
  font-weight: 400;
}

%ruda-600 {
  font-family: 'Ruda-SemiBold', sans-serif;
  font-weight: 600;
}

%ruda-700 {
  font-family: 'Ruda-Bold', sans-serif;
  font-weight: 700;
}