.banners {
  padding-bottom: 72px;
  margin-top: -3px;

  &__inner {
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 2fr 0.95fr 0.95fr;
    grid-gap: 30px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 35px;
    max-height: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
    overflow: hidden;

    &--light {
      color: $white;

      .banners__category {
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
      }

      .banners__subtitle {
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
      }

      .banners__link {
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
        color: inherit;
        border-color: $white;
      }
    }
  }

  &__text {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__category {
    @extend %opensans-700;
    font-size: 12px;
    line-height: 1;
    margin: 2px 0 18px -1px;
    letter-spacing: 0.1em;
  }

  &__subtitle {
    @extend %ruda-600;
    font-size: 30px;
    margin-bottom: 12px;
    letter-spacing: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__link {
    @extend %opensans-700;
    font-size: 14px;
    line-height: 1;
    color: $dark-500;
    border-bottom: 2px solid $dark-500;
    padding-bottom: 6px;
    max-width: max-content;
    letter-spacing: 0;
  }
}



@media (max-width: 1200px) {
  .banners {
    padding-bottom: 55px;
    margin-top: 0;

    &__inner {
      grid-template-columns: 2fr 1fr 1fr;
      grid-gap: 25px;
    }

    &__item {
      padding-left: 22px;
    }

    &__text {
      max-width: 100%;
    }

    &__category {
      margin-bottom: 17px;
    }

    &__subtitle {
      font-size: 28px;
      max-width: 80%;
    }

  }
}

@media (max-width: 992px) {
  .banners {
    padding-bottom: 43px;
    margin-top: 0;

    &__inner {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }

    &__category {
      margin-bottom: 16px;
    }

    &__subtitle {
      font-size: 26px;
      max-width: 70%;
    }

    // &__item {
    //   &--light {
    //     .banners__subtitle {
    //       max-width: 80%;
    //     }
    //   }
    // }
  }
}

@media (max-width: 768px) {
  .banners {
    padding-bottom: 33px;
    
    &__category {
      margin-bottom: 16px;
    }

    &__subtitle {
      font-size: 25px;
      margin-bottom: 77px;
      max-width: 90%;
    }

    &__item {
      position: relative;
    }

    &__link {
      position: absolute;
      bottom: 31px;
    }
  }

}

@media (max-width: 576px) {
  .banners {
    padding-bottom: 47px;

     &__inner {
      grid-template-columns: 1fr;
      grid-gap: 15px;
    }

    &__category {
      margin-bottom: 15px;
    }

    &__subtitle {
      font-size: 24px;
      margin-bottom: 77px;
      max-width: 48%;
    }

    .banners__item {
      padding-left: 15px;
      padding-top: 24px;
      background-position: left center;
    }

    &__item--light {
      .banners__subtitle {
        max-width: 80%;
      }
    }

    &__link {
      position: absolute;
      bottom: 30px;
      left: 14px;
    }
  }
}