.benefits {
  padding: 47px 0 10px;
  letter-spacing: 0;

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    max-width: 262px;
    width: 100%;
    padding-left: 74px;
    position: relative;
    margin-bottom: 20px;

    &:not(:last-child) {
      margin-right: 67px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 50px;
      height: 50px;
    }

    &--delivery::after {
      background-image: url(../images/benefits/delivery.svg);
    }

    &--return::after {
      background-image: url(../images/benefits/return.svg);
    }

    &--support::after {
      background-image: url(../images/benefits/support.svg);
    }
  }

  &__title {
    @extend %opensans-600;
    font-size: 16px;
    color: $dark-900;
    margin-bottom: 5px;
  }

  &__descr {
    font-size: 14px;
    letter-spacing: 0;
  }
}