.brands {
  padding-bottom: 32px;

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    padding: 0 55px 40px 55px;
    opacity: 0.5;
  }

  &__img {
    min-width: 80px;
  }
}


 @media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
  .brands {
    padding-bottom: 32px;
    padding-top: 45px;

    &__list {
      overflow-x: scroll;
      flex-wrap: nowrap;
    }

    &__item {
      padding: 0 47px 17px 46px;
    }
  }
  
}

@media (max-width: 576px) {

}