.discounts {
  &__inner {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    padding: 24px 24px 8px;
  }

  &__text {
    letter-spacing: 0;
    margin-bottom: 34px;
    
    &--headings {
      margin-bottom: 22px;
    }
  }

  &__title,
  &__subtitle {
    @extend %ruda-900;
    font-size: 60px;
    line-height: 1.3;
    text-transform: uppercase;
    max-width: 862px;
    margin-bottom: 7px;
  }

  &__subtitle {
    color: $red-900;
    margin-bottom: 10px;
  }

  &__btn {
    margin-bottom: 18px;
  }
}


.slider-top {
  position: relative;
  z-index: 1;
  
  &__item {    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-height: 100vh;
    padding: 142px 0;
    height: 600px;
  }

  .slick-arrow {
    font-size: 0;
    border: none;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
    transition: background-color 0.5s;

    &:focus {
      background-color: $silver-200;
      box-shadow: 0px 0px 0px 3px rgba(99, 166, 14, 0.5);
      border-radius: 6px;
    }

    &:hover,
    &:active {
      &::after {
        background-image: url(../images/icons/slider-arrow-hovered.svg); 
      }
    }

    &:hover {
      background-color: $green-200;
    }
    

    &::after {
      content: "";
      @extend %translate-center;
      
      width: 18.7px;
      height: 32px;

      background-image: url(../images/icons/slider-arrow.svg);    
    }
  }

  .slick-next {
    right: 60px;
    
    &::after {
        transform: translate(-50%, -50%) rotate(180deg);
    }    
  }

  .slick-prev {
    left: 60px;
  }
  
  .slick-disabled::after {
    background-image: url(../images/icons/slider-arrow-disabled.svg); 
  } 

  .slick-dots {
    display: flex;
    opacity: 1;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, -1000px);

    li {
      width: 20px;
      height: 20px;
      background: #FFFFFF;
      border: 1px solid #C1C1C1;
      border-radius: 50%;
      font-size: 0;
      cursor: pointer;
      transition: background-color 0.7s,
                  opacity 0.7s;

      &:hover {
        background-color: $green-800;
        opacity: 0.7;
      }
    }

    li:not(:last-child) {
      margin-right: 24px;
    }

    .slick-active {
      background-color: $green-800;
      border: 1px solid $green-800;
    }
  }
      
}




@media (max-width: 1200px) {

  .slider-top {
    .slick-arrow {
      transform: translateY(-1000px);
    }

    .slick-dots {
      transform: translate(-50%, 0px);
    }

    &__item {
      padding: 120px 0;
      height: auto;
      min-height: 510px;
    }
  }

  .discounts__btn {
    font-size: 17px;
  }
}

@media (max-width: 992px) {

  .slider-top {
    .slick-dots {
      bottom: 25px;

      li {
        width: 15px;
        height: 15px;
      }

      li:not(:last-child) {
        margin-right: 17px;
      }
    }

    &__item {
      padding: 100px 0;
      height: auto;
      min-height: 492px;
    }
  } 

  .discounts {
    &__inner {
      padding: 20px 20px 4px;
    }

    &__title,
    &__subtitle {
      font-size: 45px;
      max-width: 697px;
    }

    &__text {
      margin-bottom: 30px;
    }
    .discounts__btn {
      font-size: 16px;
    }
  }
}

@media (max-width: 768px) {

  .slider-top {
    .slick-dots {
      bottom: 20px;

      li {
        width: 12px;
        height: 12px;
      }

      li:not(:last-child) {
        margin-right: 14px;
      }
    }

    &__item {
      padding: 80px 0 70px;
      height: auto;
      min-height: 370px;
    }
  } 

  .discounts {
    &__inner {
      padding: 17px 17px 1px;
    }

    &__title,
    &__subtitle {
      font-family: 'Ruda-SemiBold', sans-serif;
      font-weight: 600;
      font-size: 30px;
      max-width: 420px;
      letter-spacing: 0.01em;
      margin-bottom: 15px;
    }

    &__text {
      margin-bottom: 27px;
    }


    .discounts__btn {
      margin-bottom: 10px;
      padding: 11px 25px;
      font-size: 15px;
    }
  }  

}

@media (max-width: 576px) {
  .slider-top {
    .slick-dots {
      bottom: 16px;

      li {
        width: 10px;
        height: 10px;
      }

      li:not(:last-child) {
        margin-right: 12px;
      }
    }

    &__item {
      padding: 60px 0 50px;
      height: auto;
      min-height: 320px;
    }
  }
  
  .discounts {
    &__inner {
      padding: 15px;
      margin: 0 -15px;
    }

    &__title,
    &__subtitle {
      font-size: 20px;
      max-width: 282px;
    }

    &__text {
      margin-bottom: 26px;
    }

    .discounts__btn {
      margin-bottom: 0;
      font-size: 14px;
      padding: 11px 24px;
      transform: translate(1px, 0px);
      
    }

  }
}