.footer {
  @extend %opensans-400;
  font-size: 14px;
  background-color: $dark-800;
  color: $white;
  letter-spacing: 0;

  &__top {
    padding: 30px 0 14px;
  }
  
  &__nav {
    display: flex;
    justify-content: space-between;
  }

  &__nav-list {
    column-count: 3;
    column-gap: 75px;
    max-width: 540px;
    width: 100%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    min-width: 212px;
  }

  &__item {
    max-width: 130px;
    width: 100%;
    padding: 3px 0;

    &--last {
      max-width: 220px;
    }

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  .logotype {
    margin-bottom: 30px;
  }

  .notifications {
    max-width: 303px;
    width: 100%;
    margin-right: 70px;

    &__descr {
      color: $white;
      font-size: 14px;
      margin-bottom: 18px;
      display: block;
      line-height: 1;
    }

    &__inner {
      height: 40px;
      display: flex;
      max-width: 307px;
      width: 100%;
    }

    &__input {
      width: 181px;
      height: 40px;
      padding: 12px;

      &::placeholder {
        color: $dark-400;
        font-size: 14px;
        line-height: 1;
      } 
    }
  }

  .form-btn {
    @extend %opensans-700;
    font-size: 12px;
    padding: 12px 16px;
    text-transform: uppercase;
    line-height: 1;
    max-width: 126px;
    width: 100%;
    border-radius: 0 6px 6px 0;
    height: 40px;
    margin: 0;
  }


  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    border-top: 1px;
  }

  .copyright {
    text-transform: uppercase;
  }

  .partners {
    display: flex;

    &__item:not(:last-child) {
      margin-right: 24px;
    }
  }
}

ul.footer__list {
  margin: -3px 4px 0 0;
}

ul.footer__nav-list {
  margin: -3px 0 0 5px;
}


 @media (max-width: 1200px) {
  .footer__nav-list {
    max-width: 360px;
    column-count: 2;
  }
}

@media (max-width: 992px) {

  .footer__nav {
    flex-wrap: wrap;
  }

  .footer__nav-list {
    max-width: 320px;
    column-gap: 45px;
  }

  .footer .notifications {
    margin-right: 50px;
  }
}

@media (max-width: 768px) {
  .footer {
    .container {
      padding: 0;
    }
    
    .logotype {
      margin: 0 0 24px 15px;
    }

    .notifications {
      margin-right: 0px;
      padding: 24px 0 20px;
      text-align: left;
    }

    &__bottom {
      padding: 24px 15px;
    }

    &__wrapper {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
  } 

  .footer__nav {
    flex-direction: column-reverse;
    align-items: center;
  }

  ul.footer__list {
    width: 100%;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 -15px;
    padding: 0 15px;
  }

  ul.footer__nav-list {
    width: 100%;
    max-width: 350px;
    padding: 24px 15px;
    margin: 0 auto;
    column-gap: 49px;
  }

  .footer__wrapper {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
  }


}

@media (max-width: 576px) {

  .footer .notifications {
    margin: 0;
    padding: 23px 0 11px;
  }

  ul.footer__list {
    .footer__item--last {
        max-width: 220px;
        margin: 0 auto 14px;
    }

    .footer__item--last:last-child {
      margin: 0 auto 6px;
    }
  }

  .footer__top {
    padding-top: 105px;
    position: relative;
    
    .logotype {
      position: absolute;
      top: 24px;
      left: 50%;
      transform: translateX(-63%);
    }
  }

  .footer__bottom {
    flex-direction: column-reverse;
    .partners {
      margin-bottom: 24px;
    }
  }

  .footer__link {
    margin-left: 7.5px;
  }

  .footer .social {
    transform: translate(27px, -3px);
  }

  ul.footer__nav-list {
    padding: 20px 46px 17px;
    column-gap: 99px;
  }

  .footer__item {
    min-width: 136px;
  }

  .footer {
    .form-btn {
      width: 116px;
      padding: 12px 7px;
     }
    
  }

}

