.footer {
  @extend %opensans-400;
  font-size: 14px;
  background-color: $dark-800;
  color: $white;
  letter-spacing: 0;
  &__top {
    padding: 30px 0 14px;
  }
  
  &__nav {
    display: flex;
    justify-content: space-between;
  }

  &__nav-list {
    column-count: 3;
    column-gap: 75px;
    max-width: 540px;
    width: 100%;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    max-width: 130px;
    width: 100%;
    padding: 3px 0;

    &--last {
      max-width: 220px;
    }

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  .logotype {
    margin-bottom: 30px;
  }

  .notifications {
    max-width: 303px;
    width: 100%;
    margin-right: 70px;

    &__descr {
      color: $white;
      font-size: 14px;
      margin-bottom: 18px;
      display: block;
      line-height: 1;
    }

    &__inner {
      height: 40px;
      display: flex;
      max-width: 307px;
      width: 100%;
    }

    &__input {
      width: 181px;
      height: 40px;
      padding: 12px;

      &::placeholder {
        color: $dark-400;
        font-size: 14px;
        line-height: 1;
      } 
    }
  }

  .form-btn {
    @extend %opensans-700;
    font-size: 12px;
    padding: 12px 16px;
    text-transform: uppercase;
    line-height: 1;
    max-width: 126px;
    width: 100%;
    border-radius: 0 6px 6px 0;
    height: 40px;
    margin: 0;
  }

  &__wrapper {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    border-top: 1px;
  }

  .copyright {
    text-transform: uppercase;
  }

  .partners {
    display: flex;

    &__item:not(:last-child) {
      margin-right: 24px;
    }
  }
}

ul.footer__list {
  margin: -3px 4px 0 0;
}

ul.footer__nav-list {
  margin: -3px 0 0 5px;
}
