
.header-top {
  background-color: $dark-800;
  padding: 17px 0 15px;
  color: $white;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

}

.burger {
  width: 30px;
  height: 22px;
  display: none;
  position: relative;

  &__menu {
    position: absolute;
    left: 0;
    top: 10px;
    width: 30px;
    height: 2px;
    background-color: $white;


    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 30px;
      height: 2px;
      background-color: $white;
    }

    &::before {
      top: -10px;
    }

    &::after {
      top: 10px;
    }
  }
}

.support, .menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @extend %opensans-700;
  font-size: 13px;
  line-height: 1.5;
  text-transform: uppercase;
}


.support {

  &__item {
    position: relative;
    padding-left: 44px;
  }

  &__item:not(:last-child) {
    margin-right: 38px;
  }

  &__link {
    position: relative;
  }

  &__link::before {
    content: "";
    position: absolute;    
    top: -4px;
    height: 22px;
  }

  &__link--address::before {
    width: 32px;
    left: -44px;
    background-image: url(../images/icons/address.svg);
  }

  &__link--tel::before {
    width: 22px;
    left: -34px;
    background-image: url(../images/icons/tel.svg);
  }

}

ul.support {
  margin-right: 10px;
}

.menu {

  &__item:not(:last-child) {
    margin-right: 24px;
  }
}

.header-bottom {
  background-color: $green-900;
  padding: 25px 0;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}



ul.menu {
  margin-left: 10px;
}



.catalog {
  margin-right: 10px;
  width: 100%;
  max-width: 240px;
  position: relative;

  &__btn {
    @extend %opensans-600;
    font-size: 14px;
    letter-spacing: 0.03em;

    position: relative;

    padding-left: 25px;
    max-width: 240px;
    width: 100%;
    height: 50px;
    border-radius: 6px;
    border: none;

    background-color: $white;
    color: $green-800;
    outline: none;

    transition: background-color 0.7s;

    &:focus {
      box-shadow: 0px 0px 0px 3px $green-100;     
    }

    &::before,
    &::after {
      content: "";
      position: absolute;    
      background-repeat: no-repeat;
      background-size: cover;
    }

    &::before {
      top: 16px;
      left: 18px;
      width: 25px;
      height: 18px;
      background-image: url(../images/icons/nav.svg);
    }

    &::after {
      top: 23px;
      right: 19px;
      width: 8px;
      height: 4px;
      background-image: url(../images/icons/arrow-down.svg);
      transition: transform 0.5s;
    }

    &--active,
    &:hover {
      background-color: $green-200;
      border-radius: 6px 6px 0px 0px;

      &::after {
        transform: rotate(180deg);
      }
    }
  }

  &__inner {
    position: absolute;
    overflow-y: hidden;
    right: 0;
    left: 0;
    height: 2000px;
  }

  &__list {
    position: absolute;
    background-color: $white;
    color: $black;
    border-top: 1px solid rgba(193, 193, 193, 0.3);
    border-radius: 0px 0px 6px 6px;
    line-height: 1.2;
    width: 100%;
    z-index: 2;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 1.5s,
                opacity 0.3s;


    &--active {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  &__item {
    border: 1px solid rgba(193, 193, 193, 0.3);
    border-top: none;
    transition: border-left-color 0.7s;

    &:last-child {
      border-radius: 0px 0px 6px 6px;
    }

    &:hover {
      border-left-color: $green-800;
    }   
  }


  &__link {

    padding: 15px 23px;
    border-left: 2px solid transparent;
    display: block;
    outline: none;
    transition: color 0.7s,
                border-left-color 0.7s;

    &:hover {
      color: $green-800;
      border-left-color: $green-800;
    }

    &:active {
      opacity: 0.7;
    }

    &:focus {
      box-shadow: 0px 0px 0px 4px rgba(99, 166, 14, 0.5);
    }
  }
}


.search {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 576px;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  margin-right: 24px;
  min-width: 380px;

  // &__inner {
  //   position: absolute;
  //   overflow-y: hidden;
  //   right: 0;
  //   left: 0;
  //   height: 50px;
  // }

  &__input {
    width: 100%;
    height: 50px;
    padding: 14px 18px 16px 50px;
    box-shadow: 0px 0px 0px 4px rgba(99, 166, 14, 0.2);

    &::placeholder {
      color: $dark-800;
      letter-spacing: 0.03em;
    }
  }

  &__btn {
    padding: 0;
    border: none;
    max-width: 158px;
    width: 100%;
    border-radius: 0 6px 6px 0;
    background-color: $dark-800;
    color: $white;
    text-transform: uppercase;
    outline: none;
    transition: background-color 0.7s,
                box-shadow 0.7s,
                opacity 0.7s;

    &:hover {
      background-color: rgba(49, 53, 43, 0.85);
    }

    &:focus {
      box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.5);
    }

    &:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: rgba(255, 255, 255, 0.5);
    }
  }

  &__btn::before {
    content: "";
    position: absolute;    
    top: 16px;
    left: 13px;
    width: 21px;
    height: 20px;
    background-image: url(../images/icons/search.svg);
    background-repeat: no-repeat;
    transition: background-color 0.5s,
                opacity 0.5s;
  }

  &__btn:hover::before,
  &__btn:focus::before {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 3px;
    }

  &__btn:active::before {
    opacity: 0.5;
  }

}

.user-icons {
  display: flex;
  max-width: 172px;

  &__item:not(:last-child) {
    margin-right: 12px;
  }

  &__link {
    display: block;
    width: 50px;
    height: 47px;
    position: relative;
    outline: none;
    transition: background-color 0.5s, 
                opacity 0.5s;

    &:hover,
    &:focus, 
    &:active {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 3px;
    }

    &:focus {
      box-shadow: inset 0px 0px 0px 3px $green-100;
    }

    &:active {
      opacity: 0.5;
    }


    &::after {
      content: "";
      @extend %translate-center; 
      background-repeat: no-repeat;
      background-size: contain;
    }

    &--search {
      display: none;
    }

    &--profile::after {
      height: 33px;
      width: 25px;
      background-image: url(../images/icons/profile.svg);
    }

    &--heart::after {
      height: 31px;
      width: 36px;
      background-image: url(../images/icons/heart.svg);
    }

    &--cart::after {
      height: 32px;
      width: 31px;
      background-image: url(../images/icons/cart.svg);
    }

    &--search::after {
      height: 32px;
      width: 31px;
      background-image: url(../images/icons/search-white.svg);
    }
  }

  &__link span {
    @extend %opensans-600;
    font-size: 10px;
    color: $red-900;
    background-color: $white;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 1.8;
    z-index: 2;
  }
}

.home {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1010;
  height: 100vh;
  // height: 100%;
  background-color: $white;
  max-width: 300px;
  width: 100%;
  color: $dark-800;
  line-height: 1.2;
  font-size: 18px;
  line-height: 1;
  
  border: 1px solid #EBEBEB;

  transition: transform 1.2s;
  transform: translateX(-100%);

  &--active {
    transform: translateX(0);
  }

  &__top {
    padding: 32px 15px 26px;
  }

  &__close {
    width: 18px;
    height: 18px;
    top: 47px;
  }

  &__profile {
    color: $white;
    background-color: $green-800;
    text-align: center;
    padding: 15px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 9px;
      left: 15px;
      width: 25px;
      height: 32px;
      background-image: url(../images/icons/profile.svg);
    }
  }

  .sign-link {
    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  &__catalog {
    padding: 15px 15px 15px 56px;
    position: relative;
    border-bottom: 1px solid #EBEBEB;
  }

  .catalog-link {
    @extend %opensans-600;
    &::before {
      content: "";
      position: absolute;
      top: 15px;
      left: 16px;
      width: 25px;
      height: 19px;
      background-image: url(../images/icons/home-burger.svg);
    }
  }

  &__contacts {
    border-bottom: 1px solid #EBEBEB;
  }


  .contacts-item:not(:last-child) {
    max-width: 230px;
    padding-left: 39px;
    margin-bottom: 18px;
    position: relative;
  }

  .contacts-link {
    max-width: 230px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0px;
      background-size: cover;
      background-repeat: no-repeat;
      
    }

    &--tel {
      &::before {
        width: 24px;
        height: 24px;
        background-image: url(../images/icons/home-tel.svg);
      }
    }

    &--address {
      &::before {
        width: 24px;
        height: 32.5px;
        background-image: url(../images/icons/home-address.svg);
      }
    }

  }

  &__menu {
    overflow-y: scroll;
    height: calc(100vh - 374px);
  }

  &__item {
    padding-left: 15px;
    margin-bottom: 15px;
  }
}

ul.home__contacts {
  padding: 26px 15px 0 15px;
}

ul.home__menu {
   padding: 24px 0 9px;
}



.shopping-cart {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1010;
  height: 100vh;
  background-color: $silver-100;
  max-width: 475px;
  width: 100%;
  color: $black;
  line-height: 1.2;
  transition: transform 1.2s;
  transform: translateX(100%);

  &--active {
    transform: translateX(0);
  }

  &__nav {
    background-color: $white;
    padding: 19px 24px 12px;
    position: relative;
  }

  &__heading {
    @extend %opensans-400;
    font-size: 24px;
    margin-bottom: 12px;
  }

  &__clean {
    @extend %opensans-300;
    font-size: 14px;
  }

  &__close {
    position: absolute;
    right: 26px;
    top: 33px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-image: url(../images/icons/cross-cart.svg);
    background-size: cover;
  }

  &__list {
    overflow-y: scroll;
    height: calc(100% - 246px);
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  &__total {
    width: 100%;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
  }

  &__text {
    margin-bottom: 0;
  }

  &__price {
    @extend %opensans-600;
    font-size: 24px;
    line-height: 1;
    color: $dark-500;

    .rouble {
      font-size: 16px;
      margin-left: -5px;
    }
  }

  &__btn {
    padding: 23px;
    border-radius: 0;
    min-width: 100%;
    display: block;
  }
}

ul.shopping-cart__list {
  padding: 12px;
}





@media (max-width: 1200px) {
  .logotype--header,
  .catalog {
    margin-right: 15px;
  }
  .search {
    margin-right: 0;
  }

  .catalog__btn {
    letter-spacing: 0;
    &::before {
      left: 9px;
    }

    &::after {
      background: none;
    }
  }
    
}

@media (max-width: 992px) {

  .user-icons {
    max-width: 250px;
  }

  .user-icons__link--search {
    display: block;
  }

  .catalog {
    z-index: 15;
  }

  .catalog__btn {
    letter-spacing: .03em;


    &::before {
      left: 18px;
    }

    &::after {
      background-image: url(../images/icons/arrow-down.svg);
    }
  }

  .header-bottom {
    position: relative;
    z-index: 4;
  }

  .search {
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    min-width: 100%;
    transform: translateY(-500%);
    opacity: 0;
    z-index: 6;
    transition: opacity 0.8s,
                transform 1.8s ease 0.3s;

    &--active {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 0.8s ease 0.3s,
                  transform 0.8s;
    }

    &__input {
      border-radius: 0;
    }

    &__btn {
      border-radius: 0;
    }
  }

  .support__item {
    letter-spacing: 0;
    &:not(:last-child) {
      margin-right: 18px;
    }
  }

  .menu__item {
    letter-spacing: 0;
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

}
  
@media (max-width: 768px) {
  .support__item {

    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  .menu,
  .catalog,
  .user-icons__link--profile,
  .user-icons__link--heart {
    display: none;
  }

  .header-top {
    padding: 14px 7px;
  }

  .burger {
    display: block;
  }

 

}
  
@media (max-width: 576px) {
  .support__item {
    font-size: 0;

    &:not(:last-child) {
      margin-right: 9px;
    }
  }

  .logotype--header {
    margin-left: -9px;

    .main-title,
    .main-subtitle {
      font-size: 0;
    }

    .logo {
      height: 40px;
    }
  }

  ul.support {
    margin: 4px -17px 0 0;
  }

  .user-icons__item:not(:last-child) {
    margin-right: 2px;
  }


  .header-bottom {
    padding: 7px 0;
  }

  .user-icons__link {
    width: 45px;

    span {
      top: 4px;
    }

    &--search::after {
      height: 24px;
      width: 24px;
    }

    &--cart::after {
      height: 23px;
      width: 24px;
    }
  }

  .shopping-cart {
    top: 111px;
    height: calc(100vh - 111px);
    .shopping-cart__list {
      height: calc(100% - 200px);
    }
  }
}