.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 30px;
  font-size: 14px;
  line-height: 1;
  

  &-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 39px;
    
    @extend %opensans-700;
    font-size: 15px;

    &--promo {
      .products-controls__btn:not(:last-child) {
        margin-right: 24px;
      }
    }

    &__btn {
      position: relative;
      text-transform: uppercase;
      color: $dark-500;
      border: 3px solid transparent;
      outline: none;
      letter-spacing: inherit;
      margin-bottom: 10px;
      transition: border-color 0.7s,
                  color 0.7s;

      &:not(:last-child) {
        margin-right: 18px;
      }

      &::after {
        content: "";
        position: absolute;
        top: 20px;
        left: 0;
        right: 0;
        height: 3px;
        width: 100%;
        background-color: transparent;
        transition: background-color 0.7s;
      }

      &:active::after,
      &.mixitup-control-active::after {
        background-color: rgba(99, 166, 14, 0.2);
      }

      &:hover {
        color: $green-800;
      }

      &:focus {
        border: 3px solid rgba(99, 166, 14, 0.2);
        border-radius: 6px;
      } 
    }   
  }

  &__item {
    max-height: 409px;
    height: 100%;
    max-width: 300px; 
    width: 100%;
    margin: 0 10px 0 0;
  }


  &-card {
    position: relative;
    background-color: $white;
    border: 1px solid rgba(17, 17, 17, 0.2);
    border-radius: 6px;
    max-height: 409px;
    transition: border-color 0.7s;
    padding-top: 56px;
    max-width: 300px;
    width: 100%;

    &:hover {
      border: 1px solid $green-800;
    }

    &__heart {
      position: absolute;
      top: 17px;
      right: 11px;
      outline: none;

      svg path {
        transition: fill 0.5s;
      }

      &:hover {
        & svg path {
          fill: $yellow-900;
        }
      }

      &:active {
        & svg path {
          fill: rgba(255, 184, 0, 0.5);
        }
      }

      &:focus {
        background: rgba(255, 255, 255, 0.0001);
        box-shadow: 0px 0px 0px 3px $green-200;
        border-radius: 3px;
      }

    }

  

    &__link {
      position: relative;
      display: block;
      outline: none;
      overflow: hidden;
      padding: 0 0 72% 0;
      margin: 0 0 10px 0; 

      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: transparent;
        transition: background-color 0.7s;
      }

      &:hover {
        &::after {
           background-color: rgba(0, 0, 0, 0.1);
        }

        &::before {
           opacity: 1;
        }
      }

      &::before {
        content: "";
        position: absolute;
        z-index: 3;
        @extend %translate-center;

        background-color: $white;
        opacity: 0;   
        width: 48px;
        height: 48px;
        border-radius: 50%;

        background-image: url(../images/icons/search-green.svg);
        background-repeat: no-repeat;
        background-position: center;
       
        transition: opacity 0.7s;
      }      
    }

    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
    }
  
    &__title {
      @extend %opensans-600;
      color: $dark-900;
      padding: 9px 14px 9px 18px;
      line-height: 1.4;
      letter-spacing: 0.025em;
      font-size: 14px;

      height: 70px;
      margin-bottom: 8px;
      max-width: 290px;

      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;

    }

    &__prices {
      display: flex;
      flex-direction: column-reverse;
      padding-left: 19px;
      margin-bottom: 20px;
    }


    &__price {
      color: $dark-500;

      &--past {
        color: $silver-600;
        width: max-content;
        margin-bottom: 3px;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: -3px;
          left: 0;
          height: 1px;
          width: 105%;
          background-color: $silver-600;
          transform: rotate(-12deg)translateY(-10px);
        }
      }
    }


    &__cart {
      background-color: $green-800;
      border-radius: 3px;
      width: 32px;
      height: 32px;
      position: absolute;
      bottom: 18px;
      right: 18px;
      outline: none;
      transition: background-color 0.7s,
                  box-shadow 0.7s,
                  opacity 0.7s;

      &:hover {
        background-color: $green-700;
      }

      &:focus {
        box-shadow: 0px 0px 0px 4px $green-200;
      }

      &:active {
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        
        &::after {
          opacity: 0.5;
        }
      }


      &::after {
        content: "";
        @extend %translate-center;
        width: 16px;
        height: 16px;
        background-image: url(../images/icons/cart.svg);
        background-repeat: no-repeat;
        background-size: contain;

      }
    }

    
    &--promo {
      display: flex;
      padding: 0;
      max-height: 124px;
      height: 100%;

      .products-card__heart,
      .badge--discount,
      .products-card__cart {
        display: none;
      }

      .products-card__link {
        width: 100px;
        height: 100px;
        margin: 13px 12px 12px 11px;
        padding: 0;

        &:hover::after {
          background-color: transparent;
        }

        &:hover::before {
          opacity: 0;
        }
      }

      .products-card__image {
        object-fit: contain;
      }


      .products-card__title {
        max-width: 164px;
        max-height: 60px;
        padding: 0 5px 0 0;
        margin: 12px 0 20px;
      }

      .products-card__prices {
        flex-direction: row;
        align-items: center;
        padding-left: 0;
      }

      .products-card__price {
        @extend %opensans-600;
        font-size: 20px;
        margin-right: 13px;

        .rouble {
          font-size: 14px;
          margin-left: -5px;
        }
        
        &--past {
          @extend %opensans-400;
          font-size: 12px;
          margin: 2px 0 0;

          .rouble {
            font-size: inherit;
            margin: 0;
          }
        }
      }

      .badge {
        left: 11px;
        top: 11px;
      }
    }

    &--cart {
      display: flex;
      max-height: 84px;
      height: 100%;
      padding: 9px;
      border-radius: 3px;
      min-width: 100%;
      max-width: 452px;

      .products-card__heart,
      .badge,
      .products-card__cart {
        display: none;
      }

      .shopping-cart__controls {
        display: flex;
      } 

      .products-card__link {
        width: 60px;
        height: 60px;
        margin: 3px 33px 3px 3px;
        padding: 0;

        &:hover::after {
          background-color: transparent;
        }

        &:hover::before {
          opacity: 0;
        }
      }

      .products-card__image {
        object-fit: contain;
      }


      .products-card__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .products-card__title {
        height: auto;
        max-height: 40px;
        max-width: 170px;
        padding: 0;
        margin: 0 0 5px;
      }

      .products-card__prices {
        padding: 0;
        margin: 0;
      }

      .products-card__price {
        @extend %opensans-600;
        font-size: 20px;
        line-height: 1;

        .rouble {
          font-size: 14px;
          margin-left: -5px;
        }
        
        &--past {
          display: none;
        }
      }

      .badge {
        left: 11px;
        top: 11px;
      }
    }

  }

  


  &__raiting {
    position: absolute;
    right: 32px;
    bottom: 13px;

    @extend %opensans-700;
    font-size: 14px;
    color: $dark-500;

    &::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      left: 24px;
      top: 0;
      background-image: url(../images/icons/rating-star.svg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.badge {
  @extend %opensans-700;
  position: absolute;
  top: 11px;
  left: 10px;
  padding: 3px 6px;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 1;
  color: $white;
  z-index: 2;

  &--new {
    background-color: $green-800;
  }

  &--discount {
    background-color: $red-900;
  }

  &--hit {
    background-color: $orange-900;
  }

  &--second {
    top: 33px;
  }
}

ul.products {
  margin-bottom: 48px;
}

.stock {
  position: absolute;
  bottom: 36px;
  left: 41.33333333%;
  z-index: 3;

  text-transform: uppercase;
  @extend %opensans-600;
  font-size: 10px;
  letter-spacing: 0.03em;

  &--in-stock {
    color: $green-800;
  }

  &--ends {
    color: $red-900;
  }

  &--out-stock {
    color: $silver-600;
  }
}

.shopping-cart {

  &__controls {
    position: absolute;
    right: 13px;
    bottom: 14px;
    display: flex;
    align-items: center;
    display: none;
  }

  &__reduce,
  &__add {
    position: relative;
    padding: 12px;
    min-width: 24px;
    border-radius: 0;
    
    &::after {
      content: "";
      @extend %translate-center;
      width: 16px;
      height: 16px;
    }
  }

  &__reduce {
    &::after {
      height: 2px;
      background-image: url(../images/icons/product/reduce.svg);
    }
  }

  &__add {
    margin-right: 12px;

    &::after {
      background-image: url(../images/icons/product/add.svg);
    }
  }

  &__number {
    height: 24px;
    width: 36px;
    background-color: rgba(99, 166, 14, 0.1);
    display: block;
    text-align: center;
    padding: 4px;
    line-height: 1;
    color: $dark-500;
  }

  &__remove {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 12px;
    height: 12px;
    background-image: url(../images/icons/product/cross-cart.svg);
  }
}



@media (max-width: 1320px) {

  .products--promo {
    grid-gap: 20px;
  }

  .products__raiting {
    left: 7px;
    right: auto;
    bottom: 6px;
  }

}
@media (max-width: 1200px) {

  .products__raiting {
    left: 7px;
    right: auto;
    bottom: 6px;
  }

  .stock {
    left: 47.333333%;
  }


  .products {
    &-controls {
      margin-bottom: 36px;
    }
  }

  ul.products {
    margin-bottom: 42px;
  }

}

@media (max-width: 992px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

    &-controls {
      margin-bottom: 32px;
    }
  }

  ul.products {
    margin-bottom: 36px;
  }

}

@media (max-width: 768px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

    &-controls {
      margin-bottom: 28px;
    }

    &--promo {
      grid-gap: 15px;
    }
  }

  ul.products {
    margin-bottom: 30px;
  }
}

@media (max-width: 576px) {

  .products-card--cart {
    height: 100%;
    min-height: 126px;
    max-height: 135px;
  }

  .products-card--cart .products-card__text {
    
    justify-content: center;
    max-height: 80px;
    height: 100%;
    padding: 5px 0 0;
    margin-bottom: 49px;
  }

  .products-card--cart .products-card__title {
    margin: 0 0 7px;
    padding: 2px 0 0;
    display: block;
    max-height: 40px;
    min-height: 20px;
    height: 100%;
  }

  .shopping-cart__total {
    padding: 19px 15px;
    .shopping-cart__price {
      font-size: 18px;
      padding-right: 3px;
    }
  }

  .shopping-cart__btn {
    padding: 13px;
  }

  .shopping-cart__heading {
    font-size: 18px;
  }

  .shopping-cart__controls {
    right: auto;
    left: 11px;
    bottom: 11px;
  }

  .shopping-cart__text {
    font-size: 14px;
  }

  .shopping-cart__nav {
    padding: 24px 15px 12px;
  }

  .shopping-cart__clean {
    letter-spacing: 0.03em;
  }

  .shopping-cart__close {
    top: 36px;
    width: 18px;
    height: 18px;
  }

  .shopping-cart__number {
    padding: 4px 16px;
  }

  .shopping-cart__item:not(:last-child) {
    margin-bottom: 6px;
  }

 

  ul.shopping-cart__list {
    padding: 14px 15px;
  }

  .products-card--cart .products-card__link {
    margin: 3px 13px 6px 4px;
  }

  .shopping-cart__sum {
    position: absolute;
    top: 0;
    right: -221px;
  }

  .products__raiting {
    right: 32px;
    bottom: 13px;
    left: auto;
  } 

  .stock {
    left: 41.33333333%;
  }

  .products {
    grid-gap: 5px;

    &-controls {
      margin-bottom: 10px;
      font-size: 14px;
      .products-controls__btn:not(:last-child) {
        margin-right: 20px;
      }
      .products-controls__btn.products-controls__btn--third {
        margin-right: 0;
      }
    }

    .products-card {
      height: 100%;

      &__heart {
        width: 24px;
        height: 21px;
        display: block;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 24px;
          height: 22px;
          background-image: url(../images/icons/heart-small.svg);
        }
        svg {
          opacity: 0;
        }
      }

      &__link {
        padding: 0px 0 120px 0;
        margin: 0 0 6px 0;
      }

      &__title {
        padding: 10px 13px 0 11px;
        max-height: 70px;
        height: auto;
        margin-bottom: 91px;
      }

      &__prices {
        position: absolute;
        bottom: -9px;
        left: -8px;
      }

      &__cart {
        bottom: 10px;
        right: 11px;
      }

      &__image {
        object-fit: contain;
      }

      &--cart {
        max-height: 126px;
      }

      
    }


    &--promo {
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-gap: 15px;

      .products__item {
        margin: 0;
      }

      .badge {
        left: 10px;
        top: 13px;
      }

      .products-card {
        &__heart {
          display: none;
        }

        &__prices {
          left: 41.2%;
          bottom: -9px;
        }

        &__title {
          padding: 1px 1px 7px 13px;
          max-width: 177px;
        }

        &__link {
          padding: 0px 0 43% 0px;
          margin: 0 0 0 10px;
        }

      }

    }

  }

  ul.products {
    margin-bottom: 24px;
  }

}