@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header-top {
  background-color: $bg-clr;
  padding: 17px 0 15px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  a {
    transition: color,
              opacity,
              0.5s;
  }

  a:hover {
    opacity: 0.7;
  }

  a:active {
    color: #E0EDCF;
  }

  a:focus {
    background: rgba(255, 255, 255, 0.0001);
    box-shadow: 0px 0px 0px 3px #EFF6E7;
    border-radius: 3px;
  }
}

.support, .menu {
  display: flex;
  justify-content: space-between;
  @extend %opensans-700;
  font-size: 13px;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.support {
  &__item {
    position: relative;
    padding-left: 44px;
  }

  &__item:not(:last-child) {
    margin-right: 38px;
  }

  &__link {
    position: relative;
  }

  &__link::before {
    content: "";
    position: absolute;    
    top: -7px;
    height: 22px;
  }

  &__link--address::before {
    width: 32px;
    left: -44px;
    background-image: url(../images/icons/address.svg);
  }

  &__link--tel::before {
    width: 22px;
    left: -34px;
    background-image: url(../images/icons/tel.svg);
  }

}

.menu {
  &__item:not(:last-child) {
    margin-right: 24px;
  }
}

.header-bottom {
  background-color: $theme-clr;
  padding: 25px 0;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logotype {
  display: flex;
  align-items: center;
}

.logo--header {
  margin-right: 13px;
}

.main-title {
  position: relative;

  max-width: 128px;

  @extend %ruda-600;
  text-align: center;
  text-transform: uppercase;

  font-size: 28px;
  line-height: 1.2;
  color: white;
  margin-bottom: 12px;
}

.main-subtitle {
  position: absolute;
  left: 0;
  right: 0;
  top: 34px;

  font-size: 12px;
}

.catalog-btn {
  @extend %opensans-600;

  position: relative;

  max-width: 240px;
  width: 100%;
  height: 50px;
  border-radius: 6px;
  border: none;
  background-color: #FFFFFF;
  color: $theme-clr;
  padding-left: 25px;

  transition: background-color 0.7s;

  &::before,
  &::after {
    content: "";
    position: absolute;    
    background-repeat: no-repeat;
    background-size: cover;
  }

  &::before {
    top: 16px;
    left: 18px;
    width: 25px;
    height: 18px;
    background-image: url(../images/icons/nav.svg);
  }

  &::after {
    top: 23px;
    right: 19px;
    width: 8px;
    height: 4px;
    background-image: url(../images/icons/arrow-down.svg);
    transition: transform 0.5s;
  }

  &:hover {
    background-color: #E0EDCF;

    &::after {
      transform: rotate(180deg);
    }
  }
}

.search {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 576px;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;

  &__input {
    width: 100%;
    height: 50px;
    padding: 15px 18px 15px 50px;
    box-shadow: 0px 0px 0px 4px rgba(99, 166, 14, 0.2);

    &::placeholder {
      color: #31352B;
    }
  }

  &__btn {
    padding: 0;
    border: none;
    max-width: 158px;
    width: 100%;
    border-radius: 0 6px 6px 0;
    background-color: $bg-clr;
    color: #FFFFFF;
    text-transform: uppercase;
  }

  &__btn::before {
    content: "";
    position: absolute;    
    top: 16px;
    left: 13px;
    width: 21px;
    height: 20px;
    background-image: url(../images/icons/search.svg);
    background-repeat: no-repeat;
  }

  &__btn:hover::before,
  &__btn:focus::before {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 3px;
    }

}

.user-icons {
  display: flex;
  max-width: 172px;

  &__item:not(:last-child) {
    margin-right: 12px;
  }

  &__link {
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    transition: background-color 0.5s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 3px;
    }

    &:focus {
      background: rgba(255, 255, 255, 0.1);
      box-shadow: inset 0px 0px 0px 3px #EFF6E7;
      border-radius: 3px;
    }

    &:focus {
      background: rgba(255, 255, 255, 0.1);
      opacity: 0.5;
      border-radius: 3px;
    }


    &::after {
      content: "";
      position: absolute;    
      background-repeat: no-repeat;
      background-size: cover;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      height: 32px;
    }

    &--profile::after {
      width: 25px;
      background-image: url(../images/icons/profile.svg);
    }

    &--heart::after {
      width: 36px;
      background-image: url(../images/icons/heart.svg);
    }

    &--cart::after {
      width: 34px;
      background-image: url(../images/icons/cart.svg);
    }
  }

  &__link span {
    @extend %opensans-600;
    font-size: 10px;
    color: #CF3E3B;
    background-color: #FFFFFF;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 1.8;
    letter-spacing: 0.03em;
    z-index: 2;
  }
} 

.discounts {
  &__inner {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    padding: 24px;
  }

  &__title,
  &__subtitle {
    @extend %ruda-900;
    font-size: 60px;
    line-height: 1.3;
    text-transform: uppercase;
    max-width: 862px;
  }

  &__text {
    margin-bottom: 42px;
    
    &--headings {
      margin-bottom: 22px;
    }
  }

  &__subtitle {
    color: #CF3E3B;
    margin-bottom: 10px;
  }
}


.slider {
  position: relative;
  z-index: 1;
  
  &__item {    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-height: 100vh;
    padding: 142px 0;
    height: 600px;
  }

  .slick-arrow {
    font-size: 0;
    border: none;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);

    &::after {
      content: "";
      position: absolute;
      width: 18.7px;
      height: 32px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url(../images/icons/slider-arrow.svg);     
    }
  }

  .slick-next {
    right: 60px;
    
    &::after {
        transform: translate(-50%, -50%) rotate(180deg);
    }    
  }

  .slick-prev {
    left: 60px;
  }
}

.benefits {
  padding: 50px 0 30px;

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    max-width: 274px;
    width: 100%;
    padding-left: 74px;
    position: relative;

    &:not(:last-child) {
      margin-right: 65px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 50px;
      height: 50px;
    }

    &--delivery::after {
      background-image: url(../images/benefits/delivery.svg);
    }

    &--return::after {
      background-image: url(../images/benefits/return.svg);
    }

    &--support::after {
      background-image: url(../images/benefits/support.svg);
    }
  }

  &__title {
    font-weight: 600;
    color: $title-clr;
    margin-bottom: 5px;
  }

  &__descr {
    font-size: 14px;
    letter-spacing: 0.3px;
  }
}

.footer {
  @extend %opensans-400;
  font-size: 14px;
  background-color: $bg-clr;
  &__top {
    padding: 30px 0;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    max-width: 470px;
    width: 100%;

  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__link:not(:last-child) {
    margin-bottom: 18px;
  }

  .logotype {
    margin-bottom: 30px;
  }

  .notifications {
    max-width: 337px;
    width: 100%;

    &__descr {
      color: #FFFFFF;
      font-size: 14px;
      margin-bottom: 18px;
      display: block;
      line-height: 1;
    }

    &__inner {
      height: 40px;
      display: flex;
      max-width: 307px;
      width: 100%;
    }

    &__input {
      max-width: 181px;
      width: 100%;
      height: 40px;
      padding: 12px;

      &::placeholder {
        color: #4F4F4F;
        font-size: 14px;
        line-height: 1;
      } 
    }
  }

  .form-btn {
    @extend %opensans-700;
    font-size: 12px;
    padding: 12px 16px;
    text-transform: uppercase;
    line-height: 1;
    max-width: 126px;
    width: 100%;
    border-radius: 0 6px 6px 0;
    height: 40px;
    margin: 0;
  } 
}

.social {
  display: flex;

  &__item {
    width: 32px;
    height: 32px;
    margin-right: 12px;
  }

  &__link {
    width: 100%;
    height: 100%;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      background-position: top center;
      background-repeat: no-repeat;
      background-image: url(../images/icons/social/fb.svg);
      width: 32px;
      height: 32px;
    }

    &--facebook::after {
      background-image: url(../images/icons/social/facebook.svg);
    }

    &--youtube::after {
      background-image: url(../images/icons/social/youtube.svg);
    }

    &--telegram::after {
      background-image: url(../images/icons/social/telegram.svg);
    }

    &--instagram::after {
      background-image: url(../images/icons/social/instagram.svg);
    }
  }
}




@import 'media';