.top-goods {

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 27px;
  }

}

@import 'products';



@media (max-width: 576px) {
  .top-goods {
    padding: 48px 0 46px;

    &__title {
      margin-bottom: 21px;
    }  
  }
}